table, th, td{
  margin : 10px;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 5px;
  text-align: center;
}
button{
  margin : 5px;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #5da4f5 5%, #71a1ee 100%);
	background-color:#569ef1;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}

.all #allbtn{
    background:linear-gradient(to bottom, #086fe6 5%, #3467bb 100%);
}

.done #donebtn{
  background:linear-gradient(to bottom, #086fe6 5%, #3467bb 100%);
}

.undone #undonebtn{
  background:linear-gradient(to bottom, #086fe6 5%, #3467bb 100%);
}

button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
button:active {
	position:relative;
	top:1px;
}
#inputtrue{
  background-color: #ffbcb0;
}
input{
  margin : 10px;
  height: 25px;
  width: 250px;
}
.condition{
  text-decoration:line-through;
}
.truecolor{
  background-color: #f75151;
  padding: 3px;
}
.falsecolor{
  background-color: #68ec4d;
  padding: 3px;
}